<div align="center">
    <form method="post" (ngSubmit)="submit(registerForm)" #registerForm="ngForm">
      <table class="noborder" border="0">
        <tr class="noalt"><td class="noborder"><label><h1>Register</h1></label></td></tr>
        <tr class="noalt">
          <td class="noborder">
            <input type="text" id="firstNameId" name="firstName" placeholder="First Name" required=required [(ngModel)]="user.firstName" #firstNameVar="ngModel" [ngClass]="{'is-invalid': firstNameVar.touched && !firstNameVar.valid}" />
          </td>
        </tr>
        <div style="color:red" *ngIf="user != null && user.id < 1">User name or password are incorrect.</div>
        <tr class="noalt"><td class="noborder"><input type="text" name="lname" placeholder="Last Name" required=required /></td></tr>
        <tr class="noalt"><td class="noborder"><input type="radio" name="gender" value="M" required=required />Male&nbsp;&nbsp;<input type="radio" name="gender" value="F" required=required />Female</td></tr>
        <tr class="noalt"><td class="noborder"><input type="email" name="email" placeholder="Your Email" required=required /></td></tr>
        <tr class="noalt"><td class="noborder"><input type="text" name="uname" placeholder="User Name" required=required /></td></tr>
        <tr class="noalt"><td class="noborder"><input type="password" name="pass" placeholder="Your Password" required=required /></td></tr>
      </table>
      <br />
      <button type="submit">Register</button>
    </form>
</div>
