<div>
  <select name="selectedYear" required [(ngModel)]="selectedYear" (ngModelChange)="updateChanges()">
    <option *ngFor="let year of getYears()" [value]="year" [selected]="year == selectedYear">{{year}}</option>' ;
  </select>
  <select name="selectedMonth" required [(ngModel)]="selectedMonth" (ngModelChange)="updateChanges()">
    <option *ngFor="let month of getMonths()" [value]="month" [selected]="month == selectedMonth">{{getMonthName(month)}}</option>' ;
  </select>
  <select name="selectedDay" [(ngModel)]="selectedDay" (ngModelChange)="updateChanges()">
    <option *ngFor="let day of getDays()" [value]="day" [selected]="day == selectedDay">{{day}}</option>' ;
  </select>
</div>
