<div align="center">
  <h1>Delete attempt</h1>
  <div *ngIf='attempt; else wait'>
    <form method="post" (ngSubmit)="submit(attemptDeleteForm)" #attemptDeleteForm="ngForm">
      <p>Are you sure you want to delete your attempt on route '{{attempt.routeName}}?</p>
      <button style="width:100px" type="submit" [disabled]="!attemptDeleteForm.valid">Yes</button>&nbsp;&nbsp;
      <input type="button" value="No" style="width:100px" onClick="history.go(-1);" />
    </form>
  </div>
  <ng-template #wait><esc-wait-loading></esc-wait-loading></ng-template>
</div>
