<div align="center">
  <h1>Topo</h1>
  {{location.name}}
  <br />
  <br />
  <div>
    <esc-route-list [locationId]="location.id"></esc-route-list>
  </div>

  <!--<select id="Type" onChange="refresh()">
    <option value="(RouteType)"></option>
  </select>
  <input type="checkbox" id="History" onChange="refresh()">History
  <br><br>


    <!--<script>
      function refresh()
      {
        var routeTypeCombo = document.getElementById("Type");
        var checkbox = document.getElementById("History");

        var type = routeTypeCombo.value;
        var history = checkbox.checked ? "True" : "False";

        window.location = 'routes.php?IdLocation=<?php echo $IdLocation ?>&Type=' + type + '&History=' + history;
      }
    </script>-->

</div>
