<div class="card">
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center"><h1>&Xi;SC&Lambda;L&Lambda;D&Lambda;&nbsp;&nbsp;&nbsp;</h1></div>
      <div class="text-center" style="font-style:italic">A climber's log</div>
      <div class="text-center"><br />Developed by</div>
      <div class="text-center">
        <h3>RΞM</h3>
      </div>
      <div class="text-center">
        <a href="http://www.remranger.com">www.remranger.com</a>
      </div>
    </div>
  </div>
</div>
