<div class="card">
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center"><h1 style="color:darkred">&Xi;SC&Lambda;L&Lambda;D&Lambda;&nbsp;&nbsp;&nbsp;</h1></div>
      <div class="text-center" style="font-style:italic">A climber's log</div>
      <div class="text-center"><br />Developed on Angular</div>
      <div class="text-center">
        <img src="https://coryrylan.com/assets/images/posts/types/angular.svg" class="img-responsive center-block" style="max-height:100px;padding-top:10px;padding-bottom:10px" />
        <div class="text-center">by</div>
        <div class="text-center"><h3>RΞM</h3></div>
        <div class="text-center"><a href="http://www.remranger.com">www.remranger.com</a></div>
      </div>
    </div>
  </div>
</div>
