<div align="center">
  <div>
    <form method="post" novalidate (ngSubmit)="submit(loginForm)" #loginForm="ngForm">
      <table class="noborder" border="0">
        <tr class="noalt">
          <td class="noborder">
            <h1>Login</h1>
          </td>
        </tr>
        <tr class="noalt">
          <td class="noborder">
            <input type="text" id="userNameId" name="userName" placeholder="Your user name" required [(ngModel)]=login.userName #userNameVar="ngModel" />
          </td>
        </tr>
        <tr class="noalt">
          <td class="noborder">
            <input type="password" id="paasswordId" name="password" placeholder="Your Password" required [(ngModel)]=login.password #userNameVar="ngModel" />
          </td>
        </tr>
      </table>
      <br>
      <button type="submit">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <!--<a href="register.php">Register</a>-->
    </form>
  </div>
</div>
