<div align="center">
  <h1>Topo</h1>
  {{location.name}}
  <!--<select id="Type" onChange="refresh()">
    <option value="(RouteType)"></option>
  </select>
  <input type="checkbox" id="History" onChange="refresh()">History
  <br><br>

  <table>
    <thead>
      <tr>
        <th colspan="2">Route</th>
        <th>Rating</th>
        <th align="left">Location</th>
        <th align="left">Created</th>
        <th align="left">Removed</th>
        <th></th>
        <th><img src="result-finish.png"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="16" bgcolor="' . $row[Color] . ' "></td>
        <td>(stats)
        </td>
        <td>(Rating)</td>
        <td>(Sublocation)</td>
        <td>(DateFrom)</td>
        <td>(DateUntil)</td>
        <td width="16px">
          <a href="RoutePictures/(PictureFileName)" target="_blank"><img src="picture.png"></a>
        </td>
        <td style="color: red">(Percentage)%</td>
        <td align="center"><img src="'(resultPic)'"></td>
        <td>
          <button style="width:40px" onclick="window.location='editroute.php?IdRoute=(id)"><img src="edit.png"></button>
        </td>
      </tr>
    </tbody>
  </table>-->


  <!--<script>
    function refresh()
    {
      var routeTypeCombo = document.getElementById("Type");
      var checkbox = document.getElementById("History");

      var type = routeTypeCombo.value;
      var history = checkbox.checked ? "True" : "False";

      window.location = 'routes.php?IdLocation=<?php echo $IdLocation ?>&Type=' + type + '&History=' + history;
    }
  </script>-->

</div>
